  <div class="dashboard">
    <div class="splash">
        <% if @random_suggestion %>
          <%= image_tag(@random_suggestion.artists.first.images.first["url"])%>
          <br>
          <iframe src=<%= @random_suggestion_uri %> width="500" height="100" frameborder="0" allowtransparency="true"></iframe>
          <br>
          <%= link_to 'refresh', '/auth/spotify', :class => 'spotify' %>
        <% else %>
          <h2> 
            looking for a jam? 
            <br> 
            sign in, and dance. 
          </h2>
          <br>
          <%= link_to 'Sign in with Spotify', '/auth/spotify', :class => 'spotify' %>
        <% end %>
    </div>
  </div>
  <footer class="links">
    <div>
      <a href="https://www.github.com/njgheorghita" target="_blank"><%= image_tag("github.png", :class => 'link_png') %></a>
      <a href="https://www.linkedin.com/in/njgheorghita" target="_blank"><%= image_tag("linkedin.png", :class => 'link_png') %></a>
      <a href="https://soundcloud.com/ghitakc/tracks" target="_blank"><%= image_tag("soundcloud.png", :class => 'link_png') %></a>
      <a href="https://medium.com/@nickgheorghita" target="_blank"><%= image_tag("medium.png", :class => 'link_png') %></a>
    </div>
    <h2> nickgheorghita@gmail.com </h2>
  </footer>
